<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753841051146-c6a7j5egr3ff4jnpolm6hv1puqbp26fj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753841051146-c6a7j5egr3ff4jnpolm6hv1puqbp26fj</string>
	<key>API_KEY</key>
	<string>AIzaSyBldpYzmUNNp2YI7J_V5rQFs9XJ2NwKbI4</string>
	<key>GCM_SENDER_ID</key>
	<string>753841051146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>www.koloma2.VKsimulator</string>
	<key>PROJECT_ID</key>
	<string>fir-app-bc5ff</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-app-bc5ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753841051146:ios:0d31d5d5d58cc34baab1f3</string>
	<key>DATABASE_URL</key>
	<string>https://fir-app-bc5ff.firebaseio.com</string>
</dict>
</plist>